@model EinzelhandelCoreMVC.ModelView.DetailDetail

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Zahl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zahl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Preis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ermäßigung)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ermäßigung)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index" asp-route-id="@Model.BonID">Back to List</a>
</div>
